<p-panel header="{{participant.name}}">
  <div class="p-grid">
    <div class="p-col-3 p-shadow-3">
      <h3 class="first">Nombre</h3>
      <input id="input" type="text" size="20" pInputText [(ngModel)]="participant.name">
    </div>
    <div class="p-col-3 p-shadow-3">
      <h3 class="first">Genero</h3>
      <p-selectButton [options]="genders" [(ngModel)]="participant.gender"></p-selectButton>
    </div>
    <div class="p-col-4 p-shadow-3">
      <h3 class="first">Edad</h3>
      <p-selectButton [options]="ages" [(ngModel)]="participant.age"></p-selectButton>
    </div>
    <div class="p-col-1 p-shadow-3">
      <h3 class="first">Activo</h3>
      <p-inputSwitch [(ngModel)]="participant.active"></p-inputSwitch>
    </div>
    <div class="p-col-1 p-shadow-3">
      <h3 class="first">Reservado</h3>
      <p-inputSwitch [(ngModel)]="participant.reserved"></p-inputSwitch>
    </div>
    <div class="p-col-8 p-shadow-3">
      <h3 class="first">Historial</h3>
      <div class="p-mb-3 p-mt-3">
        <div class="p-grid">
          <div class="p-col-3">
            <p-inputMask type="text" size="10" [(ngModel)]="newLog.date" mask="99/99/9999"></p-inputMask>
          </div>
          <div class="p-col-3">
            <input pInputText type="text" size="10" [(ngModel)]="newLog.monthlyProgramId" placeholder="Programa"/>
          </div>
          <div class="p-col-6">
            <button pButton type="button" label="Agregar" icon="pi pi-plus" (click)="addHistory()"></button>
          </div>
        </div>
      </div>
      <p-virtualScroller [value]="currentHistory" scrollHeight="250px" [itemSize]="20">
        <ng-template pTemplate="item" let-log>
          <table>
            <tr>
              <td>{{log.date | date:'dd/MM/yyyy'}}</td>
              <td>{{rooms[log.room]}}</td>
              <td>{{log.year}}</td>
            </tr>
          </table>
        </ng-template>
      </p-virtualScroller>
    </div>
    <div class="p-col-4 p-shadow-3">
      <h3 class="first">Skills</h3>
      {{participant.skills}}
    </div>
  </div>
  <p-footer>
    <div class="p-mb-3 p-mt-3">
      <button pButton type="button" label="Agregar" icon="pi pi-plus" (click)="createParticipant()" *ngIf="new"></button>
      <button pButton type="button" label="Actualizar" icon="pi pi-save" (click)="updateParticipant()" *ngIf="!new"></button>
    </div>
    <div class="p-mb-3 p-mt-3">
      <button pButton type="button" label="Borrar" icon="pi pi-trash" (click)="deleteParticipant()" *ngIf="!new"></button>
    </div>
  </p-footer>
</p-panel>
